{% extends 'layout.html' %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Order List</title>
    </head>
    <body>
    <h1>Submitted Pizza Orders</h1>
    <form action="{{ url_for('orderList') }}" method="get">
        <input type="text" name="search" value="{{ search_query }}" placeholder="Search by name"><input type="submit"
                                                                                                        value="Search">
    </form>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Topping</th>
            <th>Sauce</th>
            <th>Extras</th>
            <th>Instructions</th>
            <th>Last Updated</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.topping }}</td>
                <td>{{ order.sauce }}</td>
                <td>{{ order.extras }}</td>
                <td>{{ order.instructions }}</td>
                <td>{{ order.update_time }}</td>
                <td>
                    <a href="{{ url_for('edit_order', id=order.id) }}">Edit</a>
                    <form action="{{ url_for('delete_order', id=order.id) }}" method="post" style="display:inline;">
                        <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </body>

{% endblock %}
