{% extends 'layout.html' %}
{% block content %}
    <body>
    <form name="pizzaForm" method="POST">
        <table>
            <tr>
                <td colspan="2" style="text-align: center;"><strong>Pizza Shop 2.0</strong></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" required minlength="3" maxlength="20"></td>
            </tr>
            <tr>
                <td>Pizza Topping</td>
                <td>
                    <input type="radio" name="topping" value="Supreme" required> Supreme<br>
                    <input type="radio" name="topping" value="Vegetarian"> Vegetarian<br>
                    <input type="radio" name="topping" value="Hawaiian"> Hawaiian
                </td>
            </tr>
            <tr>
                <td>Pizza Sauce</td>
                <td>
                    <select name="sauce" required>
                        <option value="Tomato">Tomato</option>
                        <option value="BBQ">BBQ</option>
                        <option value="Garlic">Garlic</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Optional Extras</td>
                <td>
                    <input type="checkbox" name="extras" value="Extra Cheese"> Extra Cheese<br>
                    <input type="checkbox" name="extras" value="Gluten Free Base"> Gluten Free Base
                </td>
            </tr>
            <tr>
                <td>Delivery Instructions:</td>
                <td><textarea name="instructions" rows="4" cols="40"></textarea></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Send my Order"></td>
            </tr>
        </table>
    </form>
    </body>
{% endblock %}
